
<br/>

<div class="frosty col-10 offset-1">
  <h1>Enter Your Contact Information</h1>
  <%= simple_form_for @rfq do |f| %>
    <br/>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :count, as: :select, collection: Rfq::HEAD_COUNT %>
    <%= f.input :catering_type, as: :select, collection: Rfq::CATERING_TYPE %>
    <br/>
    <%= f.submit 'Enter', class: 'btn btn-primary' %>
  <% end %>

</div>