
<br/>
<br/>
<div class="fullheight">
  <div class="frosty col-10 offset-1">
    <div class="col-10 offset-1">
      <br/>
      <br/>
      <h2>Please Enter Your Contact Information</h2>
      <%= simple_form_for @rfq do |f| %>
        <br/>
        <%= f.input :name, placeholder: "John Smith" %>
        <%= f.input :email, placeholder: "smith@email.com"%>
        <%= f.input :phone_number, placeholder: "541-123-1234"%>
        <%= f.input :people_attending, as: :select, collection: 40..400, step: 5 %>
        <%= f.input :catering_type, as: :select, collection: Rfq::CATERING_TYPE %>
        <br/>
        <div class="text-center">
          <%= f.submit 'Next to Menu Selection', class: 'btn btn-primary' %>  
        </div>
      <% end %>
    
      <br/>
    </div>
  </div>
</div>