
<script>
  $(function() {
    $('.meat').change(function(e) {
      // var meatBox = $( this );
      // console.log($input);
      var meatBoxesToCheck = $('li input[type="checkbox"]');
      var meatId = $(e.target).data("id");
      var meatBoxChecked = $(e.target);
      var checkedStatus = meatBoxChecked.selected ? "checked" : "";
      meatBoxChecked.change(checkedStatus);
      console.log(meatBoxChecked);
            
      meatBoxesToCheck.each(function() {
        var meatBox = this;
        
          if (this.checked == true) {
            var meatName = $(e.target).data("meat");
            var meatId = $(e.target).data("id");
            var rfqId = $(e.target).data("rfq");
            var selectedMeat = Boolean($(e.target).is(':checked'));  
            // console.log("meatName:" + meatName);
            // console.log("meatId:" + meatId);
            // console.log("rfqId:" + rfqId);
            // console.log("selectedMeat:" + selectedMeat);
            // console.log("meatbox:"+ meatBox);
            $.ajax({
              type: 'PUT',
              url: "/foods/" + meatId,
              data: { food: {selected: selectedMeat} },
            });
          }
      })
    // $( ".meat" ).html(
    //           ".attr( \"checked\" ): <b>" + meatBoxChecked.attr( "checked" ) + "</b><br>" +
    //           ".prop( \"checked\" ): <b>" + meatBoxChecked.prop( "checked" ) + "</b><br>" +
    //           ".is( \":checked\" ): <b>" + meatBoxChecked.is( ":checked" ) + "</b>" );
    //           }).change();
    });
  });
</script>

<div class="row">
  <div class="col-12 col-sm-6">
    <h3>Smoked Meat Selection</h3>
    <ul class="meatlist">
      <br />
      <%= simple_form_for @rfq do |f| %>
        <%=f.collection_check_boxes( :meats, @meats.all, :id, :name) do |b| %>
          <li>
            <%=b.check_box(class: "meat") %>
            <%=b.label(class: "meat")%>
        <%end%>
          </li>
        <%= f.submit 'Enter', class: 'btn btn-primary', method: :patch %>
      <% end %>
    </ul>
  </div>
</div>
