<p>Hello!</p>
<p>
  Congrats! <b>You have received a new quote request</b>!
</p>
<p>
  <%= @rfq.name %>'s order is for a <%= @rfq.catering_type_humanized %> of <%= @rfq.count %> people:
  meats: <%= @meats %>
  sides: <%= @sides %>
</p>
<p>
  Contact <%= @rfq.name %>, phone <%= @rfq.phone_number %>, or email <%=@rfq.email %>
    today!
</p>
