<p>Hello!</p>
<p>
  <b>Thank you for submitting for a quote for BBQ.</b>!
</p>
<p>
  <%= @rfq.name %>'s order is:
  people: <%= @rfq.count %>
  event type: <%= @rfq.catering_type_humanized %>
  meats: <%= @meats %>
  sides: <%= @sides %>
</p>
<p>
  Again, thank you for contacting Off the Bone BBQ today!
</p>