<!DOCTYPE html>
<html>
  <head>
    <title>Off the Bone BBQ</title>
    <meta name = "description" content = "Off the Bone Catering offers delicious wood-smoked cuisine for any occassion "/>
    <meta name = "keywords" content="BBQ,catering,barbeque,smoked,food,restaurant">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar">
        <div class="row h_links">
          
          <%= link_to 'HOME', root_path %>
                 
          <%= link_to 'ABOUT', about_path %>
          
          <%= link_to 'MENU', menu_path %>
           
          <%= link_to 'CONTACT', contact_path %>
          
        </div>
      </nav>
      <%= yield %>
    </div>
        
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= link_to "Request a Quote", new_rfq_path %>
          </div>
          <div class="col-12 col-sm-6 text-right"> 
            <a href="mailto:offthebonebbq1@gmail.com">Email Us</a>
            <br />
            <a href="http://www.zigzagwebdesigns.com">Website: ZigZagDesign</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
