<!DOCTYPE html>
<html>
  <head>
    <title>Off the Bone BBQ</title>
    <meta name = "description" content = "Off the Bone Catering offers delicious food for any occassion "/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar">
        <div class="row h_links">
          
          <%= link_to 'HOME', root_path %>
                 
          <%= link_to 'ABOUT', about_path %>
          
          <%= link_to 'MENU', menu_path %>
           
          <%= link_to 'CONTACT', contact_path %>
          
        </div>
      </nav>
      <%= yield %>
    </div>
        
    <div id="footer">
      <div class="row">
        <div class="container text-left">
          <%= link_to "Request a Quote", new_rfq_path %>
        </div>
        <div class="container text-right">
          <a href="http://www.zigzagwebdesigns.com">ZigZagDesign</a>
          <!-- <a "offthebonebbq1@gmail.com" > </a> -->
        </div>
      </div>
    </div>
  </body>
</html>
