<!DOCTYPE html>
<html>
  <head>
    <title>Off the Bone BBQ</title>
    <meta name = "description" content = "Off the Bone Catering offers delicious wood-smoked cuisine for any occassion "/>
    <meta name = "keywords" content="BBQ,catering,barbeque,smoked,food,restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Alice');
    </style>
  </head>

  <body>
    <div id="flex-container">
      <nav class="navbar">
        <div class="row h_links text-center">
          <div class="col-sm-3">
            <%= link_to 'HOME', root_path %>
          </div>
          <div class="col-sm-3">   
            <%= link_to 'ABOUT', about_path %>
          </div>
          <div class="col-sm-3">
            <%= link_to 'MENU', menu_path %>
          </div>
          <div class="col-sm-3"> 
            <%= link_to 'CONTACT', contact_path %>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <%= yield %>
      </div>
      <div id="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md text-center">
              <%= link_to new_rfq_path do %>
                <i class="fa fa-telegram"></i>&nbsp;&nbsp;Request a Quote
              <% end %>
            </div>
            <div class="col-md text-center"> 
              <%= link_to "mailto:offthebonebbq1@gmail.com" do %> 
                <i class="fa fa-envelope"></i>&nbsp;&nbsp;Email Us
              <% end %>
            </div>
            <div class="col-md text-center">
              <%= link_to "tel:+1-541-630-4720" do%>
                <i class="fa fa-phone"></i>
                  &nbsp;541-630-4720
              <% end %>
            </div>
          </div>
          <br />
          <div class="credit col-12 text-center">
            <%=link_to 'http://zigzagwebdesigns.com' do %>
              website by: zigzagwebdesigns.com
            <%end%>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>
